body{
    font-family: 'Josefin Sans', sans-serif;

    /*font-family: 'Ysabeau Infant', sans-serif;*/
    margin: 20px auto;
    max-width: 460px;
    color: black;
}
fieldset{
    padding: 10px 30px 0;
}
legend{
    color: white;
    background-color: black;
    padding: 5px 10px;
}
fieldset>div{
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}
button, label, input{
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}
input{
    box-shadow: inset 1px 1px 1px 2px #ccc;
    border-radius: 5px;
}
input:hover, input:focus{
    background-color: #eee;
}


button{
    width: 60%;
    margin: 0 auto;
}


/******************************************************************************************/
/*yaha se shuru*/
input:required{
    border: 1px solid black;
}

input:optional{
    border: 1px solid silver;
}